@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*{
  margin: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #e22865, #37adcd);
  color: white;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}
.center{
  /* width:25%; */
  height: 60vh;
  background-color: #262a45;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  padding: 40px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px black;
  justify-content:flex-start;
  
 
  
  /* overflow-y: scroll;
  white-space: nowrap; */
}
.center1{
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
button{
  width: 47px;
  height: 47px;
  text-align: center;
  border: 2px;
  border-style: dotted;
  border-radius: 100px;
  border-color: black;
  background : linear-gradient(
    90deg,
    rgba(40,16,255,1) 0%,
    rgba(110,115,255,1) 100%
  );
  color: #fff;
  
 
  
}
h1{
  font-size: 32px;
  font-family: 'Fredoka One', cursive;
}
button:hover{
  animation: forwards;
  border: 2px solid;
}
.button1{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
}

.button1:hover{
  background-color: red;
  animation: forwards;
  border: 2px solid;
}

input{
  width: 330px;
  height: 42px;
  border: 0px;
  /* border-bottom: 5px; */
  border-radius: 10px;
  border-style: solid;
  border-color: #4334cf;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.plis{
  font-size: 20px;
  text-align: center;
}
.list{
  height: 350px;
  width:500px;
  display: flex;
  justify-content: flex-start;
  padding-top: 12px;


 
}
.ul{
  margin-top: 30px;
  
  }


.ul li{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 2px;
  display: flex;
  align-items: center;
  list-style-type: none;

}
.btn1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}
.btn2{
  width: 386px;
  height: 50px;

  display: flex;
  flex-direction: row;
  /* justify-content: ; */
  align-items: center;
  /* background-color: white; */
  border: 2px solid white;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.check{
  width: 20px;
  height:20px;

}
.cross{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list .check:checked{
  text-decoration: line-through;
}
::-webkit-scrollbar {
  width: 20px;
}
.list1{
  width:100%;
  height: 36vh;
  overflow-y: scroll;
  overflow-x: hidden;
  
}
.namec{
  height: 20px;
  width: 35vw;
  display: flex;
  flex-direction: row;
 align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.doneItem {
  text-decoration: line-through;
  font-weight: bold;
}
.buttonCombo{
  width:4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.remove{
  height: 4vh;
  width: 6vw;
  border-radius: 8px;
  justify-content:space-between;
}
.rmall{
  display: flex;
  height: 100vh;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
